title: Home
views:
  - theme: Backend-selected
    title: Home
    badges: []
    cards: []
    type: sections
    sections:
      - type: grid
        cards:
          - type: heading
            heading: AndroidAPS CI Browserbuild Workflow
            heading_style: title
          - show_name: true
            show_icon: true
            type: button
            entity: sensor.ci_status_label
            name: Start CI Run
            tap_action:
              action: call-service
              service: script.trigger_github_aaps_ci
            grid_options:
              columns: 6
              rows: 5
            show_state: true
            icon: mdi:electron-framework
          - type: entities
            title: AAPS-CI Web Build
            entities:
              - entity: sensor.androidaps_workflow_name
                name: Workflow
                icon: mdi:electron-framework
                card_mod:
                  style: |
                    :host {
                      --card-mod-icon-color:
                        green
                    }
              - entity: sensor.androidaps_workflow_branch
                name: Branch
                icon: mdi:electron-framework
                card_mod:
                  style: |
                    :host {
                      --card-mod-icon-color:
                        green
                    }
              - entity: sensor.androidaps_workflow_created_at
                name: Created At
                icon: mdi:electron-framework
                card_mod:
                  style: |
                    :host {
                      --card-mod-icon-color:
                        green
                    }
              - entity: sensor.androidaps_workflow_status
                name: Status
                icon: mdi:electron-framework
                secondary_info: last-changed
                card_mod:
                  style: |
                    :host {
                      --card-mod-icon-color:
                        {% if states('sensor.androidaps_workflow_status') == 'in_progress' %}
                          orange
                        {% elif states('sensor.androidaps_workflow_status') == 'completed' %}
                          green
                        {% else %}
                          grey
                        {% endif %};
                    }
              - entity: sensor.androidaps_workflow_conclusion
                name: Conclusion
                icon: mdi:electron-framework
                secondary_info: last-changed
                card_mod:
                  style: |
                    :host {
                      --card-mod-icon-color:
                        {% if states('sensor.androidaps_workflow_conclusion') == 'success' %}
                          green
                        {% elif states('sensor.androidaps_workflow_conclusion') == 'Unknown' %}
                          red
                        {% else %}
                          grey
                        {% endif %};
                    }
            show_header_toggle: false
            grid_options:
              columns: 12
              rows: 5
          - type: markdown
            content: >-
              - [Download AndroidAPS
              APK](https://drive.google.com/drive/folders/1XhfUYeBzSeU0yoC48M9UyBEo1SRcak0j?usp=drive_link)
            grid_options:
              columns: 18
              rows: 1
            visibility:
              - condition: user
                users:
                  - b4860a651b7b4b94b17803c926028d2c
              - condition: state
                entity: sensor.androidaps_workflow_conclusion
                state: success
          - type: markdown
            content: >-
              - [Github
              Actions](https://github.com/vanelsberg/AndroidAPS/actions)

              - [Github AndroidAPS
              Development](https://github.com/nightscout/AndroidAPS/tree/dev)
            grid_options:
              rows: 2
              columns: 18
            visibility:
              - condition: user
                users:
                  - b4860a651b7b4b94b17803c926028d2c
        column_span: 2
      - type: grid
        cards:
          - type: history-graph
            hours_to_show: 48
            entities:
              - entity: sensor.androidaps_workflow_status
              - entity: sensor.androidaps_workflow_conclusion
            logarithmic_scale: false
            grid_options:
              columns: full
              rows: 2
        column_span: 4
