#!/bin/bash

## Repository and workflow configuration for CI scripts
OWNER=vanelsberg
REPO=AndroidAPS

#  WorkflowName and ID:
#  Use ./ci_workflows.sh to get the WORKFLOW_ID and WORKFLOW_NAME settings below.
#WORKFLOW_ID=180834796
#WORKFLOW_NAME="AAPS CI"
WORKFLOW_ID=257323460
WORKFLOW_NAME="Branch CI"

# Workflow action maintennace:
# Personal access token for deleting workflow runs: Repo=vanelsberb/AndroidAPS, Action Read and Write access
WF_PERSONAL_ACCESS_TOKEN=$(cat ../secrets.yaml | grep workflow_access_token_ha | cut -d ':' -f2 | xargs)

# Number of workflow runs to keep; older runs will be deleted
WF_KEEP=163
